# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# PyCharm project files
.idea/

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Pipenv
Pipfile
Pipfile.lock

# pyenv
.python-version

# dotenv environment variables file
.env
.env.*

# Migrations (while keeping __init__.py)
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.py
!*/migrations/__init__.py

# Static files
staticfiles/
static/
*.woff
*.woff2

# Media files
media/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test results
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings (if applicable)
.vscode/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
desktop.ini
