{% extends 'shared/main.html' %}
{% block content %}
    <hr/>

    <div class="card mx-auto p-2 product-form-card" style="width: 80%">
        <div class="card-header product-form-card-header">New Product</div>
        <div class="card card-body product-form-card-body">
            <form method="POST">
                {% csrf_token %}

                {% include 'products/product-form-basic-fields.html' %}
                {% include 'products/components.html' %}

                <button type="submit" class="btn btn-primary">SAVE</button>
            </form>
        </div>
    </div>

    {% if form.errors %}
        {% include 'products/error-modal.html' with errors=form.errors.as_ul %}
    {% endif %}

{% endblock %}
